$c-color--150: hsb(50, 55, 100);
$c-color--140: hsb(40, 65, 100);

$c-color--200: hsb(215, 100, 100);
$c-color--250: hsb(215, 060, 100);
$c-color--290: hsb(215, 100, 060);

$c-color--300: hsb(085, 008, 096);

$c-color--400: hsb(155, 060, 080);

$c-color--500: hsb(180, 010, 096);

$c-grey--950: hsb(215, 002, 096);
$c-grey--900: hsb(215, 002, 092);
$c-grey--800: hsb(215, 004, 090);
$c-grey--750: hsb(215, 006, 080);
$c-grey--600: hsb(215, 004, 060);
$c-grey--500: hsb(215, 006, 050);
$c-grey--200: hsb(215, 020, 035);
$c-grey--100: hsb(215, 020, 020);
$c-grey--000: hsb(215, 002, 010);

$c-link:    $c-color--200;
$c-visited: $c-link;
$c-hover:   $c-color--290;
$c-active:  $c-hover;

$c-select__bg:   black;
$c-select__text: white;

$c-phone:           hsb(190, 070, 085);
$c-phone--hover:    hsb(190, 080, 095);
$c-email:           hsb(205, 100, 100);
$c-email--hover:    hsb(205, 070, 100);
$c-facebook:        hsb(220, 066, 062);
$c-facebook--hover: hsb(220, 066, 092);

/* Services */
$c-nrp--500: hsb(235, 070, 060);
$c-nrp--900: hsb(025, 008, 100);

$c-rp--500:  hsb(150, 075, 065);
$c-rp--900:  hsb(060, 020, 100);

$c-ps--500:  hsb(265, 060, 055);
$c-ps--900:  hsb(045, 006, 098);

$c-dpc--500: hsb(000, 000, 035);
$c-dpc--900: hsb(200, 008, 100);

$c-adm--500: hsb(040, 100, 095);
$c-adm--900: hsb(100, 006, 100);

$c-dmd--500: $c-color--200;
$c-dmd--900: hsb(035, 010, 100);

$c-sas--500: hsb(020, 065, 100);
$c-sas--900: hsb(040, 006, 100);

$c-sa--500:  hsb(070, 060, 065);
$c-sa--900:  hsb(190, 006, 100);

$c-p--500:   hsb(345, 070, 070);
$c-p--900:   hsb(210, 006, 100);
