/*----- Helper mixins ----- */

@mixin reset-children {
  & > :first-child {
    margin-top: 0;
  }
  & > :last-child {
    margin-bottom: 0;
  }
}

@mixin pseudo-center {
  &:before {
    content: "";
    width: 0;
    height: 100%;

    display: inline-block;
    vertical-align: middle;
  }
}

@mixin clearfix {
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin reset-button {
  cursor: pointer;
  appearance: none;

  font-family: inherit;
}

@mixin button-large {
  font-weight: $font__sans--semibold;
  font-size: .875em;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .125em;

  border: 0;
  border-radius: 4px;
  padding: 1.5em 2.5em;
}
