$font__sans:   "tablet-gothic", sans-serif;
$font__wide:   "tablet-gothic-wide", sans-serif;
$font__narrow: "tablet-gothic-narrow", sans-serif;

$font__sans--thin:        200;
$font__sans--light:       300;
$font__sans--regular:     400;
$font__sans--semibold:    600;
$font__sans--bold:        700;
$font__sans--extrabold:   800;
$font__sans--heavy:       900;
