extends _templates/_site

append template-variables
  - var theme = "news"

block template-body
  header.c-header--slim
    .c-header__wrap
      +hud

      .c-header__body
        a(href="index.html").c-header__back
          svg(viewBox="0 0 24 24", xmlns="http://www.w3.org/2000/svg")
            path(d="M12,1 L1,12 L12,23")
            path(d="M1,12 L23,12")
          | Zpět

        h1.c-header__text Archiv novinek

  +menu("subpage")

  .s-archive__news.m-news
    .m-news__loop
      each instance in [1, 2, 3, 4, 5, 6]
        +article(instance)

    .m-news__footer
      a.m-news__pagination(href="javascript:") &larr; Novější
      a.m-news__pagination(href="javascript:") Starší &rarr;

  include _partials/_contact

  include _partials/_partners

  +footer
