extends _templates/_site

append template-variables
  - var theme = "projects"

block template-body
  header.c-header--slim
    .c-header__wrap
      +hud

      .c-header__body
        .c-header__inline
          a(href="projects.html").c-header__back
            svg(viewBox="0 0 28 28", xmlns="http://www.w3.org/2000/svg")
              path(d="M14,3 L3,14 L14,25")
              path(d="M3,14 L25,14")

          h1.c-header__title Archiv ukončených projektů

  +menu("subpage")

  #more.m-projects
    .m-projects__loop
      each instance in [1, 2, 3, 4, 6, 7]
        .m-projects__item
          h2.m-projects__name
            faker-lorem-sentence/
          .m-projects__content(data-find-external)
            p
              faker-lorem-paragraphs/
            ul
              each instance in [1, 2, 3, 4]
                li
                  faker-lorem-sentence/
            p
              faker-lorem-paragraphs/
          button.m-projects__expand(type="button", data-toggle="project", data-target=".m-projects__item")
            include ../static/svg/icon-ellipsis.svg
            | Číst více

    .m-projects__footer
      mark.m-projects__pagination--active 2017
      a.m-projects__pagination(href="javascript:") 2016
      a.m-projects__pagination(href="javascript:") 2015

  include _partials/_contact

  include _partials/_tiles

  include _partials/_partners

  +footer
