extends _templates/_site

mixin course
  a.m-seminar__item(href="seminar-detail.html")
    h2.m-seminar__name
      faker-lorem-sentence/
    ul.m-seminar__stats
      li
        strong Cena
        |  2360 Kč
      li
        strong Termín
        |  21. 09. 2017
      li
        strong Lektor
        |  JUDr. Karel Zuska

append template-variables
  - var theme = "sa"

block template-body
  header.c-header--tall
    .c-header__wrap
      +hud

      .c-header__body
        h1.c-header__text(data-grep) #[strong Sociální akademie] poskytuje kvalitní vzdělávání v sociální oblasti &mdash; pro pracovníky, pěstouny i veřejnost.

        a.c-header__button(href="#more") Více informací

    .c-header__hero(style="background-image: url(src/static/img/services/service-sa.jpg)")

  +menu("subpage")

  #more.m-seminar
    .c-tabs(data-tabs)
      .c-tabs__nav
        button.c-tabs__link.tab--is-active(data-tabs-link="#tab-1") Kurzy pro sociální oblast
        button.c-tabs__link(data-tabs-link="#tab-2") Kurzy pro náhradní rodinnou péči
        button.c-tabs__link(data-tabs-link="#tab-3") Kurzy pro veřejnost

      .c-tabs__item.tab--is-active(id="tab-1", data-tab)
        h1.m-seminar__title Kurzy pro sociální oblast

        .m-seminar__loop
          each instance in [1, 2, 3, 4, 5]
            +course

      .c-tabs__item(id="tab-2", data-tab)
        h1.m-seminar__title Kurzy pro náhradní rodinnou péči

        mark.m-seminar__note Aktuálně nejsou vypsány žádné kurzy.

      .c-tabs__item(id="tab-3", data-tab)
        h1.m-seminar__title Kurzy pro veřejnost

        .m-seminar__loop
          +course

  include _partials/_news

  #about.m-longform
    .m-longform__wrap
      h2.m-longform__title Podrobnosti služby
      .c-editor.m-longform__content(data-find-external)
        p Vzdělávací středisko Sociální akademie bylo založeno v roce 2012 a je jedním ze zařízení Centra sociálních služeb Ostrava, o.p.s.
        p Našim cílem je poskytovat kvalitní vzdělávání pracovníkům v sociální oblasti a to jak lidem na pozici Pracovník v sociálních službách, tak i na pozicích Sociální pracovník a Vedoucí pracovník. Pořádáme kurzy i pro náhradní rodinnou péči.
        p Při výběru lektorů a témat kurzů vycházíme z aktuální situace v sociálních službách a z požadavků personálu poskytovatelů sociálních služeb. Spolupracujeme s lektory, kteří jsou sami aktivně zapojení do dění v sociálních službách, mají vlastní praktickou zkušenost s prací v sociální oblasti, mnohdy tuto profesi vykonávají současně vedle lektorské činnosti. 

      .m-longform__more
        button.m-longform__expand(type="button", data-toggle="longform") Více informací

      h2.m-longform__subtitle Zajímá Vás více?
      .c-tabs(data-tabs)
        .c-tabs__nav
          button.c-tabs__link(data-tabs-link="#tab-1") Jak zažádat o službu
          button.c-tabs__link(data-tabs-link="#tab-2") Podmínky služby
        each tab in [1, 2]
          .c-editor.c-tabs__item(id="tab-" + tab, data-tab)
            p
              faker-lorem-paragraphs/

  include _partials/_contact

  include _partials/_tiles

  include _partials/_partners

  +footer
