.c-nav__button {
  @include reset-button;

  border: 0;
  border-radius: $radius--l;

  padding: .5em 1em;

  font-weight: $font__sans--semibold;
  font-size: .75em;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .125em;

  color: currentColor;
  background-color: white;

  &:focus {
    outline: 0;
  }
}
