.c-form {
  &__title {
    @include a-head--3;
  }

  &__row {
    @include breakpoint(max-width $bp__tablet - 1) {
      max-width: 30em;

      margin-left: auto;
      margin-right: auto;
    }

    @include breakpoint($bp__tablet) {
      display: flex;
      justify-content: center;

      &:not(:first-child) {
        margin-top: 1em;
      }
    }

    &:last-child {
      margin-top: 2em;
    }
  }

  &__cell {
    flex-grow: 1;
  }

  &__label {
    display: block;

    text-align: left;

    font-size: .75em;

    padding-left: 1.5rem;
  }

  &__validate {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__alert {
    margin-top: .5em;

    font-size: .75em;

    color: $c-negative--500;
  }

  &__input,
  &__textarea {
    flex-grow: 1;

    appearance: none;

    font-family: inherit;
    line-height: inherit;

    margin: .5em .25em;
    border: 1px solid $c-grey--750;
    border-radius: $radius--l;

    &:focus {
      outline: 0;
      border-color: $c-color--220;
    }
  }

  &__input {
    padding: .75em 1em;
  }

  &__textarea {
    padding: 1em;
  }

  &__submit {
    cursor: pointer;

    @include button-large;
    
    font-family: inherit;
    background-color: $c-grey--950;

    &:hover,
    &:active {
      background-color: $c-grey--800;
    }

    &:focus {
      background-color: $c-color--220;

      outline: 0;
    }
  }
}

.c-form__error--positive,
.c-form__error--negative {
  margin: 2em 0 0;

  padding: 1em 1.5em;

  border-radius: $radius--l;
}

.c-form__error--positive {
  color: $c-positive--500;
  background-color: $c-positive--800;
}

.c-form__error--negative {
  color: $c-negative--500;
  background-color: $c-negative--800;
}
