.c-hud {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;

  padding-top: 1em;
  padding-bottom: 1em;

  @include breakpoint($bp__tablet) {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 1em;
    padding-right: 1em;

    @include breakpoint($bp__tablet) {
      padding-left: 2em;
      padding-right: 2em;
    }
  }

  &__button {
    @include reset-button;

    border: 0;
    border-radius: $radius--l;

    padding: .5em 1em;

    font-size: .625em;
    font-weight: $font__sans--semibold;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .125em;

    color: white;
    background-color: black;

    &:hover,
    &:active {
      opacity: .75;
    }

    &:focus {
      outline: 0;
    }

    @include breakpoint($bp__tablet) {
      font-size: .75em;

      padding: .75em 1.5em;
    }
  }
}
