.c-logo {
  display: block;

  position: relative;

  padding-left: 2.5em;

  @include breakpoint(max-width $bp__tablet - 1) {
    font-size: .75em;
  }

  @include breakpoint(min-width $bp__laptop) {
    font-size: 1.125em;
  }
  
  &:link,
  &:visited {
    color: currentColor;
  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;

    width: 2em;
  }

  &__text {
    vertical-align: middle;

    font-weight: $font__sans--semibold;

    @include breakpoint(max-width $bp__tablet - 1) {
      text-transform: uppercase;
      letter-spacing: .125em;
    }
  }

  &__hide {
    @include breakpoint(max-width $bp__tablet - 1) {
      display: none;
    }
  }
}
