.c-services {
  list-style-type: none;
  padding-left: 0;

  margin-top: 0;
  margin-bottom: 0;

  li:not(:first-child) {
    margin-top: .75em;
  }

  &__id {
    position: absolute;
    left: 0;
    top: 0;

    width: 4em;
    height: 4em;

    color: currentColor;

    font-size: .5em;
    font-weight: $font__sans--semibold;
    line-height: 4em;
    letter-spacing: .125em;
    text-transform: uppercase;
    text-align: center;
    
    border-radius: 50%;

    transition: box-shadow $duration--s;

    box-shadow: $shadow--2;

    .c-services__active & {
      color: white;
    }

    .c-services__link:hover & {
      box-shadow: $shadow--1;
    }
  }

  &__link {
    display: block;
    position: relative;

    padding-left: 3em;

    @include link-dark;
  }

  &__active {
    display: block;
    position: relative;

    padding-left: 3em;

    background-color: transparent;

    font-weight: $font__sans--bold;    
  }
}

.c-services__item {
  &--nrp .c-services__link .c-services__id {color: $c-nrp--500; }
  &--rp  .c-services__link .c-services__id {color: $c-rp--500; }
  &--ps  .c-services__link .c-services__id {color: $c-ps--500; }
  &--dpc .c-services__link .c-services__id {color: $c-dpc--500; }
  &--adm .c-services__link .c-services__id {color: $c-adm--500; }
  &--dmd .c-services__link .c-services__id {color: $c-dmd--500; }
  &--sas .c-services__link .c-services__id {color: $c-sas--500; }
  &--sa  .c-services__link .c-services__id {color: $c-sa--500; }
  &--p   .c-services__link .c-services__id {color: $c-p--500; }

  &--nrp .c-services__active .c-services__id {background-color: $c-nrp--500; }
  &--rp  .c-services__active .c-services__id {background-color: $c-rp--500; }
  &--ps  .c-services__active .c-services__id {background-color: $c-ps--500; }
  &--dpc .c-services__active .c-services__id {background-color: $c-dpc--500; }
  &--adm .c-services__active .c-services__id {background-color: $c-adm--500; }
  &--dmd .c-services__active .c-services__id {background-color: $c-dmd--500; }
  &--sas .c-services__active .c-services__id {background-color: $c-sas--500; }
  &--sa  .c-services__active .c-services__id {background-color: $c-sa--500; }
  &--p   .c-services__active .c-services__id {background-color: $c-p--500; }
}
