.m-contact
  h3.m-contact__title Chcete se na cokoliv zeptat?

  .m-contact__body
    .m-contact__item--phone
      a.m-contact__link(href="tel:+420599455121")
        span.m-contact__icon: include ../../static/svg/icon-phone.svg
        strong.m-contact__strong +420&thinsp;599&thinsp;455&thinsp;121
      small.m-contact__note Volejte prosím v konzultačních hodinách.

    .m-contact__item--email
      a.m-contact__link(href="mailto:css@css-ostrava.cz")
        span.m-contact__icon: include ../../static/svg/icon-email.svg
        strong.m-contact__strong css@css-ostrava.cz
      small.m-contact__note Na e-mail Vám odpovíme nejpozději do 10&nbsp;pracovních dnů.

    .m-contact__item--fb
      a.m-contact__link(href="https://www.facebook.com/dpcostrava")
        span.m-contact__icon: include ../../static/svg/icon-facebook.svg
        strong.m-contact__strong Facebook

    .m-contact__item--mail
      span.m-contact__icon: include ../../static/svg/icon-mail.svg
      strong.m-contact__strong Jahnova 12, 709&thinsp;00 Ostrava
      small.m-contact__note Na dopis Vám odpovíme nejpozději do 10&nbsp;pracovních dnů.
