.m-tiles
  .m-tiles__row
    #js-map.m-tiles__map
    .m-tiles__item--yellow
      .m-tiles__header
        h4 Adresa
      .m-tiles__body
        ul
          li Budečská 1373/3 
          li 702 00 Ostrava
        p Rodinná poradna se nachází v 1. patře #[a(href="javascript:") Centra sociálních služeb Ostrava] (přístup není bezbariérový). Je dostupná ze všech částí města městskou hromadnou dopravou (zastávka Prostorná a Sokola Tůmy). Budova je označena informační tabulí a směrovou tabulí na křižovatce ulic Jahnova a Kremličkova.

  if tilesExpanded == true
    .m-tiles__row
      .m-tiles__item--green
        .m-tiles__header
          h4 Navštivte nás
        .m-tiles__body
          p Konzultační hodiny/dny, ve kterých je možno Rodinnou poradnu kontaktovat osobně či telefonicky jsou stanoveny takto:
          ul
            li po: 7:30&ndash;17:00 h
            li út: 7:30&ndash;15:30 h
            li st: 7:30&ndash;17:00 h
            li čt: 7:30&ndash;17:00 h
            li pá: 7:30&ndash;14:00 h
      .m-tiles__item--blue
        .m-tiles__header
          h4 Dodatečné informace
        .m-tiles__body
          p Maximální kapacita na jednoho pracovníka jsou 4 konzultace za den. V jednom okamžiku, a to při přítomnosti všech pracovníků zařízení na pracovišti, se mohou pracovníci věnovat maximálně šesti uživatelům.
