.s-results {
  .services--is-active & {
    max-height: initial;

    &:after {
      content: none;
    }
  }
}

.s-services {
  .services--is-active & {
    display: none;
  }
}

.s-archive__news {
  @include a-wrap;
}
