@mixin a-head--1 {
  font-family: $font__narrow;
  font-weight: $font__sans--light;
  font-size: 2.25em;
}

@mixin a-head--2 {
  font-family: $font__sans;
  font-weight: $font__sans--extrabold;
  font-size: 1.5em;

  margin-top: 2em;
  margin-bottom: 2em;
}

@mixin a-head--3 {
  font-family: $font__sans;
  font-weight: $font__sans--light;
  font-size: 1.5em;
}
