.m-contact {
  @include a-wrap("top");

  text-align: center;

  &__title {
    @include a-head--2;
  }

  &__body {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    margin-left: -.75em;
    margin-right: -.75em;
  }

  &__item--phone {
    color: $c-phone;

    a:link,
    a:visited {
      color: currentColor;
    }
    a:hover,
    a:active {
      color: $c-phone--hover;
    }
  }

  &__item--email {
    color: $c-email;

    a:link,
    a:visited {
      color: currentColor;
    }
    a:hover,
    a:active {
      color: $c-email--hover;
    }
  }

  &__item--fb {
    color: $c-facebook;

    a:link,
    a:visited {
      color: currentColor;
    }
    a:hover,
    a:active {
      color: $c-facebook--hover;
    }
  }

  &__link {
    display: block;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-content: center;

    height: 1.5em;

    margin-bottom: 1em;

    fill: currentColor;
  }

  &__strong {
    @include a-head--3;
  }

  &__note {
    display: block;

    max-width: 20em;

    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;

    font-size: .75em;
    color: $c-grey--500;
  }
}

[class^="m-contact__item--"],
[class*=" m-contact__item--"] {
  margin: .75em;

  @include breakpoint(max-width $bp__laptop - 1) {
    flex-basis: 11em;
  }
}
