.m-footer {
  padding-left: 1em;
  padding-right: 1em;

  line-height: 2;

  &__content {
    display: flex;
  }

  &__title {
    margin-top: 0;

    @include a-head--3;
  }

  &__block--left {
    background-color: $c-color--150;
  }

  &__contact {
    list-style-type: none;
    padding-left: 0;

    a {
      @include link-black(true);
    }

    li:nth-child(2) {
      margin-bottom: 1.5em;
    }

    span {
      display: inline-block;

      min-width: 8em;
    }
  }

  &__note {
    display: block;

    opacity: .5;

    margin-top: 5em;
  }
}

[class^="m-footer__block--"],
[class*=" m-footer__block--"] {
  padding: 4em;

  flex-basis: 0;
  flex-grow: 1;
}

.m-footer__end {
  padding: 3em 1em;
}
