.m-longform {
  color: $c-grey--100;
  background-color: $c-color--500;

  &__title {
    @include a-head--1;

    text-align: center;
  }

  &__subtitle {
    @include a-head--3;
    
    margin-top: 4em;

    text-align: center;
  }

  &__wrap {
    @include a-wrap;

    max-width: 50em;
  }

  &__more {
    text-align: center;

    .longform--is-active & {
      display: none;
    }
  }

  &__expand {
    @include reset-button;
    @include button-large;

    color: white;
    background-color: $c-color--200;

    &:focus {
      outline: 0;
    }
  }
}

.m-longform__content {
  position: relative;

  overflow: hidden;
  max-height: 30em;

  &:after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 50%;

    background-image: linear-gradient(to bottom, rgba($c-color--500, 0), rgba($c-color--500, 1));
  }

  .longform--is-active & {
    max-height: initial;

    &:after {
      content: none;
    }
  }
}
