.m-news {
  @include a-wrap("both");

  text-align: center;

  &__title {
    @include a-head--1;
  }

  &__item {
    @include clearfix;

    margin-bottom: 2em;
  }

  &__holder {
    position: relative;
    overflow: hidden;

    margin-bottom: 1em;

    background-color: $c-color--150;

    .m-news__item:nth-child(2n) & {
      background-color: palegreen;
    }
    .m-news__item:nth-child(3n) & {
      background-color: paleturquoise;
    }
    .m-news__item:nth-child(4n) & {
      background-color: mistyrose;
    }

    @include breakpoint($bp__tablet) {
      float: left;
      width: 50%;

      padding-bottom: 33.333%;
    }
  }

  &__thumb {
    @include breakpoint($bp__tablet) {
      position: absolute;
      left: 50%;
      top: 50%;

      transform: translate(-50%, -50%);
    }
  }

  &__body {
    text-align: left;

    @include breakpoint($bp__tablet) {
      overflow: auto;

      padding-left: 2em;      
    }
  }
  
  &__headline {
    @include a-head--2;
    
    margin-top: 0;
  }

  &__date {
    color: $c-grey--600;

    font-size: .75em;
  }

  &__content {
    position: relative;

    overflow: hidden;
    max-height: 15em;

    &:after {
      content: "";

      position: absolute;
      left: 0;
      bottom: 0;

      width: 100%;
      height: 50%;

      background-image: linear-gradient(to bottom, rgba(white, 0), rgba(white, 1));
    }

    .more--is-active & {
      max-height: initial;

      &:after {
        content: none;
      }
    }
  }

  &__button {
    @include reset-button;
    @include button-outline;

    margin-top: 2em;

    svg {
      fill: currentColor;

      vertical-align: middle;
      margin-right: .75em;
    }

    color: $c-link;

    &:hover {
      color: $c-hover;
    }
    &:focus {
      outline: 0;
    }

    .more--is-active & {
      display: none;
    }
  }

  &__cta {
    display: inline-block;

    @include button-large;
    
    background-color: $c-grey--950;

    &:hover,
    &:active {
      background-color: $c-grey--800;
    }

    @include breakpoint($bp__tablet) {
      margin-top: 3em;
    }
  }

  &__footer {
    margin-top: 5em;
  }

  &__pagination {
    @include button-medium(true);

    margin-left: .5em;
    margin-right: .5em;

    background-color: $c-grey--950;

    &:hover,
    &:active {
      background-color: $c-grey--800;
    }
  }
}
