.m-people {
  text-align: center;

  @include a-wrap;

  max-width: 80em;

  &__title {
    @include a-head--2;
  }

  &__list {
    list-style-type: none;
    padding-left: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-left: -.75em;
    margin-right: -.75em;

    @include breakpoint($bp__laptop) {
      margin-left: -1.5em;
      margin-right: -1.5em;
    }
  }

  &__item {
    margin: .75em;

    flex-basis: 13em;

    @include breakpoint($bp__laptop) {
      margin: 1.5em;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;

    width: 2em;
    height: 2em;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5em;

    color: $c-grey--500;
    box-shadow: $shadow--2;
    border-radius: 50%;

    svg {
      width: 1em;

      fill: currentColor;
    }
  }

  &__item:nth-child(2n) &__icon {
    color: $c-nrp--500;
  }
  &__item:nth-child(3n) &__icon {
    color: $c-adm--500;
  }
  &__item:nth-child(4n) &__icon {
    color: $c-sa--500;
  }
  &__item:nth-child(6n) &__icon {
    color: $c-ps--500;
  }

  &__name {
    display: block;
    
    @include a-head--4;

    color: $c-grey--100;
  }

  &__position {
    font-size: .75em;
    line-height: $leading--s;

    color: $c-grey--500;
  }

  &__contact {
    list-style-type: none;
    padding-left: 0;
    margin-top: 1em;

    font-size: .75em;

    li {
      display: inline-block;

      margin-right: .75em;
      margin-left: .75em;
    }

    a {
      @include link-dark(true);
    }
  }

  &__abbr[title] {
    text-decoration: none;

    margin-right: .25em;
  }

  &__footer {
    max-width: 30em;

    margin-left: auto;
    margin-right: auto;

    color: $c-grey--500;
  }
}
