.m-tiles {
  padding: .25em;

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__body {
    @include reset-children;
    margin-top: 1em;

    a {
      @include link-black(true);
    }
    ul {
      padding-left: 0;
      list-style-type: none;
    }
  }

  &__map {
    position: relative;

    min-height: 15em;

    flex-basis: 16em;
    flex-grow: 1;

    padding: 1.25em;
    margin: .25em;

    & > * {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
    }
  }
}

[class^="m-tiles__item"],
[class*=" m-tiles__item"] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex-basis: 16em;
  flex-grow: 1;

  margin: .25em;
  padding:: 1.25em;

  min-height: 50vmin;

  color: $c-grey--000;
  background-color: $c-grey--950;
}

.m-tiles__item--yellow {
  background-color: $c-color--150;
}
.m-tiles__item--green {
  background-color: $c-color--400;
}
.m-tiles__item--blue {
  background-color: $c-color--250;
}

.m-tiles__header {
  @include reset-children;

  h4 {
    @include a-head--3;
  }
}
