mixin hud
  #js-headroom.c-hud
    .c-hud__wrap
      a.c-logo(href="index.html")
        img.c-logo__image(src="src/static/img/logo-csso.png", alt="Logo CSSO")
        strong.c-logo__text Centrum sociálních služeb Ostrava#[span.c-logo__suffix , o.p.s.]

      button.c-hud__button(type="button", data-toggle="menu") Menu
